.navigation-bar {
  font-size: 1.4em;
  background: #ddd;
  text-align: left;
  line-height: 2.5;
  border-radius: 3px;
}

.navigation-bar span a {
  font-family: 'Verdana Georgia';
  text-decoration: none;
  color: black;
  padding: 5px 15px;
}

.navigation-bar span a:hover {
  padding: 12px 15px;
  background-color:#775252;
  color: white;
  border-radius: 5px;   
}

.navbar-header {
  font-size: 1.1em;
  text-decoration: none;
  font-family: 'Verdana Georgia';
  color: black;
  float: left;
  margin-left: 13%;
  margin-right: 15%;
}

.navbar-header:visited, .navbar-header:hover, .navbar-header:focus {
  text-decoration: none;
  color: black;
}

.navigation-bar .loggedInUser {
  float: right;
  margin-right: 10%;
}